.about {
  text-align: justify;
  max-width: 480px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 20px;
    width: 80%;
  }
}

.about h2 {
	font-family: 'Kaushan Script', 'Roboto',  "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-size: 2em;
}

.about  p, h2, li, br {
  line-height: 1.5;
  margin-top: 15px;
}

.about p{
  font-size: 1.4em;
}

.about li {
  font-size: 1.1em;
}

.about ol {
  list-style-type: none;
  list-style-type: upper-roman;
  margin-left: 50px;
}

.svg-horiz-centered svg {
  display: block;
  margin: 30px auto;
}

.annotation-note-label, .about .color-legend p {
  font-size: 0.8em;
  color: lightgrey;
}

.annotation-note-title {
  fill: lightgrey;
}

.about a {
	text-decoration: underline;
	font-weight: bold;
	color: #4d4d4d;
}

.about a:hover {
	color: grey;
}

.about .colorful-rectangle {
	top: 0;
	left: 0;
	width: 300px;
	height: 25px;
	background: linear-gradient(-90deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	margin: 10px auto;
}

.about .color-legend {
  width: 300px;
  margin: 10px auto;
}

.about .color-legend-text {
  width: 150px;
  display: inline-block;
}

.about .color-legend p {
  text-align: left;
}

.about .right p {
  text-align: right;
}