.about {
  text-align: justify;
  max-width: 480px;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .about {
    padding: 20px;
    width: 80%;
  }
}

.about h2 {
	font-family: 'Kaushan Script', 'Roboto',  "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
	font-size: 2em;
}

.about  p, h2, li, br {
  line-height: 1.3;
  margin-top: 15px;
}

.about p, li {
  font-size: 1.2em;
}

.about ol {
  list-style-type: none;
  list-style-type: upper-roman;
  margin-left: 50px;
}

.svgHorizCentered svg {
  display: block;
  margin: auto;
}