.flex-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 ;
}

.wrapper-width, main {
  max-width: 960px;
  margin: 0 auto;
}

.songs-container {
  display: flex ;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.snowflake-card {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.title-wrap p {
  text-align: center;
  padding: 0;
}