.flex-wrapper{
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-flow: row wrap;
  text-align: center;
  color: white;
}

/* We tell all items to be 100% width, via flex-basis */
.flex-wrapper > * {
  flex: 1 100%;
}

.songs-container {
  display: flex ;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.snowflake-card {
  text-align: center;
}

.titleWrap {
	max-width: 200px;
}
