.flex-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  min-width: 480px;
  width: 100%;
  padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  main {
    min-width: 80%;
  }
}

.wrapper-width, main {
  max-width: 1024px;
  margin: 0 auto;
}

.songs-container {
  display: flex ;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
}

.snowflake-card {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.title-wrap p {
  text-align: center;
  padding: 0;
}