.single-song {
	width: 100%;
}

.single-song .content {
	display: flex;
	flex-direction: row;
}

.single-song .navigation-button {
  display: flex;
  align-items: center;
  padding: 10px;
}

.single-song .grow {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
