.snowflake-card {
	color: #dadada;
	text-align: center;
	max-width: 300px;
}

.snowflake-card a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	font-size: 0.8em;
}

.snowflake-card small {
	font-size: 0.8em;
	color: #dadada;
}

.snowflake {}

.snowflake-section path {
	stroke: #fff;
	stroke-width: 0.5px;
	fill-opacity: 0.3;
	fill: white;
	mix-blend-mode: luminosity;
}

.snowflake:hover {
	animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}